#newTxnForm {
  display: inline-block;
  background-color: #333333;
  width: 900px;
}

.newTxnSubmit {
  position: relative;
}

#newTxnForm .inputDiv {
  float: left;
  display:block;
  margin-bottom: 0.2em;
  width:100%
}

#newTxnForm input,select {
  float: left;
  width:30em;
  color: #ffffff;
  background-color: #444444;
}

#newTxnForm label {
  float: left;
  text-align: right;
  position: relative;
  width: 10em;
}

#newTxnForm .inputError {
  color: #dd0000;
  position: relative;
  float: left;
}

